@font-face {
	font-family: "iconfont"; /* Project id 4522249 */
	src: url('//at.alicdn.com/t/c/font_4522249_fn30s7dwpzu.woff2?t=1713942860443') format('woff2'),
	url('//at.alicdn.com/t/c/font_4522249_fn30s7dwpzu.woff?t=1713942860443') format('woff'),
	url('//at.alicdn.com/t/c/font_4522249_fn30s7dwpzu.ttf?t=1713942860443') format('truetype');
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
	content: "\e600";
}

.icon-blog:before {
	content: "\e62b";
}

.icon-gitee:before {
	content: "\e666";
}

.icon-github:before {
	content: "\e601";
}

.icon-about:before {
	content: "\e6a0";
}

.icon-tanzhen:before {
	content: "\e614";
}





